# Python
backend/venv/
backend/__pycache__/
backend/ids_database.db
backend/dataset/

# React
frontend/node_modules/
frontend/build/
frontend/.git

# Model files (large)
backend/model/ids_model.pkl
backend/model/label_encoder.pkl

# VS Code
.vscode/

MachineLearningCVE/